WEB_PORT=8080
API_PORT=3000
POSTGRES_PORT=5432
POSTGRES_DB=hookah
POSTGRES_USER=hookah
POSTGRES_PASSWORD=hookah_local
OBJECT_STORAGE_ENDPOINT=http://minio:9000
OBJECT_STORAGE_PUBLIC_URL=http://localhost:9000
OBJECT_STORAGE_REGION=ru-msk-1
OBJECT_STORAGE_ACCESS_KEY=hookah
OBJECT_STORAGE_SECRET_KEY=hookah_media_local
OBJECT_STORAGE_BUCKET_HOOKAH_MEDIA=hookah-media
